<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blinddate.mapper.ChatContentMapper">
    <select id="findAll" resultType="com.example.blinddate.entity.ChatContent">
        select * from chat_content;
    </select>

    <insert id="add" parameterType="com.example.blinddate.entity.ChatContent">
        insert into chat_content(my_head_image, my_nick_name, my_personal_id, friend_head_image, friend_nick_name, friend_personal_id, content) values (#{my_head_image}, #{my_nick_name}, #{my_personal_id}, #{friend_head_image}, #{friend_nick_name}, #{friend_personal_id}, #{content});
    </insert>

    <update id="mod" parameterType="com.example.blinddate.entity.ChatContent">
        update chat_content set my_head_image = #{my_head_image}, my_nick_name = #{my_nick_name}, my_personal_id = #{my_personal_id},
            friend_head_image = #{friend_head_image}, friend_nick_name = #{friend_nick_name}, friend_personal_id = #{friend_personal_id} content = #{content} where id = #{id};
    </update>

    <insert id="addOrMod" parameterType="com.example.blinddate.entity.ChatContent">
        insert into chat_content(id, my_head_image, my_nick_name, my_personal_id, friend_head_image, friend_nick_name, friend_personal_id, content) values (#{id}, #{my_head_image}, #{my_nick_name}, #{my_personal_id}, #{friend_head_image}, #{friend_nick_name}, #{friend_personal_id}, #{content})
                            on duplicate key update my_head_image = #{my_head_image}, my_nick_name = #{my_nick_name}, my_personal_id = #{my_personal_id},
                    friend_head_image = #{friend_head_image}, friend_nick_name = #{friend_nick_name}, friend_personal_id = #{friend_personal_id}, content = #{content};
    </insert>

    <delete id="delete" parameterType="com.example.blinddate.entity.ChatContent">
        delete from chat_content where id = #{id};
    </delete>

    <select id="likeFindAll" parameterType="com.example.blinddate.entity.ChatContent">
        select * from chat_content where my_nick_name like concat('%', #{my_nick_name},'%') and friend_nick_name like concat('%', #{friend_nick_name},'%') limit #{pageNum}, #{pageSize};
    </select>

    <select id="findOrderData" resultType="com.example.blinddate.entity.ChatContent">
        select * from chat_content limit #{pageNum}, #{pageSize};
    </select>
</mapper>