<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blinddate.mapper.MyFriendInformationMapper">
    <select id="findAll" resultType="com.example.blinddate.entity.MyFriendInformation">
        select * from my_friend_information;
    </select>

    <insert id="add" parameterType="com.example.blinddate.entity.MyFriendInformation">
        insert into my_friend_information(my_head_image, my_nick_name, my_personal_id, friend_head_image, friend_nick_name, friend_personal_id) values (#{my_head_image}, #{my_nick_name}, #{my_personal_id}, #{friend_head_image}, #{friend_nick_name}, #{friend_personal_id});
    </insert>

    <update id="mod" parameterType="com.example.blinddate.entity.MyFriendInformation">
        update my_friend_information set my_head_image = #{my_head_image}, my_nick_name = #{my_nick_name}, my_personal_id = #{my_personal_id},
            friend_head_image = #{friend_head_image}, friend_nick_name = #{friend_nick_name}, friend_personal_id = #{friend_personal_id} where id = #{id};
    </update>

    <insert id="addOrMod" parameterType="com.example.blinddate.entity.MyFriendInformation">
        insert into my_friend_information(id, my_head_image, my_nick_name, my_personal_id, friend_head_image, friend_nick_name, friend_personal_id) values (#{id}, #{my_head_image}, #{my_nick_name}, #{my_personal_id}, #{friend_head_image}, #{friend_nick_name}, #{friend_personal_id})
                            on duplicate key update my_head_image = #{my_head_image}, my_nick_name = #{my_nick_name}, my_personal_id = #{my_personal_id},
                    friend_head_image = #{friend_head_image}, friend_nick_name = #{friend_nick_name}, friend_personal_id = #{friend_personal_id};
    </insert>

    <delete id="delete" parameterType="com.example.blinddate.entity.MyFriendInformation">
        delete from my_friend_information where id = #{id};
    </delete>

    <select id="likeFindAll" parameterType="com.example.blinddate.entity.MyFriendInformation">
        select * from my_friend_information where friend_nick_name like concat('%', #{friend_nick_name},'%') limit #{pageNum}, #{pageSize};
    </select>

    <select id="findOrderData" resultType="com.example.blinddate.entity.MyFriendInformation">
        select * from my_friend_information limit #{pageNum}, #{pageSize};
    </select>
</mapper>